<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Video and Audio Streaming</title>
<script type="text/javascript" src="{$base_url}/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="{$base_url}/create.js"></script>
<style type="text/css" media="screen">
body {
    font-family: Verdana;
    font-size: 10px;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a, a:hover, a:visited { color: grey; }

h1 {

}

input {
    border: 1px solid #999;
    background-color: #e7e7e7;
}

#buttons input {
    font-size: 14px;
    font-weight: bold;

    padding: 5px;
}

label {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

#expert_toggle {
    padding: 8px 8px 0px 0px;
}

#expert {
    display: table-cell;
    border: 1px solid #999;
    padding: 5px 50px 5px 5px;
    background-color: #ededed;
}

#expert h2 {
    margin: 0 0 10px 0;
}

#ab, #vb {
    width: 60px;
}

#ab_byte, #vb_byte {
    display: inline;
    font-style: italic;
    font-size: 10px;
}

#mediainfo {
    list-style-type: square;
    margin-left: 15px;
    padding-left: 10px;
}

#create_stream {
    margin-top: 8px;
}

#video_row {
    display: table-cell;
}

#audio_row {
    display: table-cell;
    padding-left: 15px;
}

</style>
</head>
<body>
    <h1>Create Stream</h1>

    <ul id="mediainfo">
        <li><strong>Filename:</strong> {$filename}</li>
        <li><strong>Path:</strong> {$path}</li>
        <li><strong>Size:</strong> {$size} MByte</li>

        <li><strong>Video Codec:</strong> {$mediainfo->video_codec}</li>
        <li><strong>Video Bitrate:</strong> {$mediainfo->video_bitrate|kbit} kBit/s ({$mediainfo->video_bitrate|kbyte} kByte/s)</li>

        <li><strong>Audio Codec:</strong> {$mediainfo->audio_codec}</li>
        <li><strong>Audio Bitrate:</strong> {$mediainfo->audio_bitrate|kbit} kBit/s ({$mediainfo->audio_bitrate|kbyte} kByte/s)</li>
        <li><strong>Audio Rate:</strong> {$mediainfo->audio_rate} Hz</li>
        <li><strong>Audio Streams:</strong> {$mediainfo->audio_streams}</li>

        <li><strong>Width:</strong> {$mediainfo->width}</li>
        <li><strong>Height:</strong> {$mediainfo->height}</li>

        <li><strong>FPS:</strong> {$mediainfo->fps}</li>
        <li><strong>Aspect:</strong> {$mediainfo->aspect}</li>
    </ul>


    <form name="create_form" method="POST" action="{$base_url}/player.php{$smarty.server.PATH_INFO}">
        <label for="player">Select Player Technology</label>
        <select name="player" id="player">
            <option value="html5">HTML5</option>
            <option value="flash">Flash (flowplayer)</option>
        </select>

        <label for="bitrate">Set Bitrate (Video Bitrate / Audio Bitrate)</label>
        <select name="bitrate" id="bitrate">
            <option value="0">(keep)</option>
            <option value="300/48">43 kbyte/s (300 kbit/s / 48 kbit/s)</option>
            <option value="600/64">83 kbyte/s (600 kbit/s / 64 kbit/s)</option>
            <option value="1000/96">137 kbyte/s (1000 kbit/s / 96 kbit/s)</option>
        </select>

        <div id="buttons">
            <input type="submit" id="create_stream" value="Create Stream" />
            <input type="reset" value="Reset settings to default" />
        </div>

        <div id="expert_toggle">
            <a href="#please_activate_js">Show Transcode Settings</a>
            <a href="#please_activate_js" style="display: none;">Hide Transcode Settings</a>
        </div>

        <div id="expert" style="display: none;">
            <h2>Transcode Settings</h2>

            <label for="preset">Set Preset</label>
            <select name="preset" id="preset">
                <option value="0">Video Codec / Audio Codec / Container</option>
                <option value="flv/libmp3lame/flv">Sorenson Spark / MP3 / FLV</option>
                <option value="libx264/libfaac/flv">H.264 / AAC / FLV (?)</option>
                <!-- <option value="libx264/libfaac/mp4">H.264 / AAC / MP4</option> -->
                <option value="libtheora/libvorbis/ogg">Theora / Vorbis / OGG</option>
                <option value="libvpx/libvorbis/webm">VP8 / Vorbis / WebM</option>
            </select>

            <div id="video_row">

                <label for="vcodec">Select Video Codec</label>
                <select name="vcodec" id="vcodec">
                    <option value="">(keep)</option>
                    <option value="flv">Sorenson Spark (flv)</option>
                    <option value="libx264">H.264 (libx264)</option>
                    <option value="libtheora" selected="selected">Theora (libtheora)</option>
                    <option value="libvpx">VP8 (libvpx)</option>
                </select>

                <label for="vb">Video Bitrate (kbit/s)</label>
                <input type="text" name="vb" id="vb" value="{$mediainfo->video_bitrate|kbit}" />
                <div id="vb_byte">(0 kbyte/s)</div>

                <label for="aspect">Select Aspect Ratio</label>
                <select name="aspect" id="aspect">
                    <option value="">(keep)</option>
                    <option>4:3</option>
                    <option>16:9</option>
                    <option>16:10</option>
                </select>

                <label for="size">Change Resolution</label>
                <select name="size" id="size">
                    <option value="">(keep)</option>
                    <option>320x240</option>
                    <option>352x288</option>
                    <option>640x480</option>
                    <option>800x600</option>
                </select>

                <label for="fps">Change FPS</label>
                <input type="text" name="fps" id="fps" value="{$mediainfo->fps}" />


                <label for="seek">Seek to Position (HH:MM:SS)</label>
                <input type="text" name="seek" id="seek" value="00:00:00" />

                <div id="vpre_options" style="display: none;">
                    <label for="vpre">Select Preset (x264)</label>
                    <select name="vpre" id="vpre">
                        <option>ultrafast</option>
                        <option>superfast</option>
                        <option selected="selected">veryfast</option>
                        <option>faster</option>
                        <option>fast</option>
                        <option>medium</option>
                        <option>slow</option>
                        <option>slower</option>
                        <option>veryslow</option>
                        <option>placebo</option>
                    </select>
                    <label for="vpre2">Select Preset (x264)</label>
                    <select name="vpre2" id="vpre2">
                        <option>main</option>
                        <option selected="selected">baseline</option>
                    </select>
                </div>

                <label for="container">Select Container</label>
                <select name="container" id="container">
                    <option value="flv">flv</option>
                    <!-- <option value="mp4">mp4</option> -->
                    <option value="ogg" selected="selected">ogg</option>
                    <option value="webm">webm</option>
                    <option value="mkv">mkv</option>
                    <option value="mp3">mp3</option>
                </select>

            </div>

            <div id="audio_row">

                <label for="acodec">Select Audio Codec</label>
                <select name="acodec" id="acodec">
                    <option value="">(keep)</option>
                    <option value="libmp3lame">MP3 (libmp3lame)</option>
                    <option value="libvorbis" selected="selected">Vorbis (libvorbis)</option>
                    <option value="libfaac">AAC (libfaac)</option>
                </select>

                <label for="ab">Audio Bitrate (kbit/s)</label>
                <input type="text" name="ab" id="ab" value="{$mediainfo->audio_bitrate|kbit}" />
                <div id="ab_byte">(0 kbyte/s)</div>

                <label for="audio_stream">Select Audio Stream</label>
                <select name="audio_stream" id="audio_stream">
                    {section name=streams loop=$mediainfo->audio_streams}
                        <option value="{$smarty.section.streams.iteration}">
                            #{$smarty.section.streams.iteration}
                        </option>
                    {/section}
                </select>

            </div>

        </div>

    </form>

</body>
</html>

